{   
    "columns":[
        {
            "type": "OfxInstitution",
            "name": "OFX Investment Account",
            "username": "",
            "password": "",
            "account_id": "",
            "account_type": "investment",
            "institution_info": {
                "org": "",
                "broker_id": "",
                "bank_id": "",
                "fid": "",
                "url": ""
            }
        },
        {
            "type": "CoinbaseInstitution",
            "name": "Coinbase crypto",
            "api_key": "",
            "api_secret": ""
        },
        {
            "type": "CoinbaseProInstitution",
            "name": "Coinbase Pro portfolio",
            "api_key": "",
            "api_secret": "",
            "passphrase": ""
        },
        {
            "name": "Bitcoin (BTC) wallet",
            "type": "BitcoinInstitution",
            "wallet_addrs": [
                "",
                ""
            ]
        },
        {
            "name": "Helium (HNT) wallet",
            "type": "HeliumInstitution",
            "wallet_addrs": [
                ""
            ]
        },
        {
            "name": "Chia (XCH) wallet",
            "type": "ChiaInstitution",
            "wallet_addrs": [
                ""
            ]
        },
        {
            "name": "Ethereum (ETH) wallet",
            "type": "EthereumInstitution",
            "wallet_addrs": [
                ""
            ]
        },
        {
            "name": "Checking Account",
            "type": "DiscoverBankInstitution",
            "account_id": "",
            "api_key": ""
        },
        {
            "name": "Atmos Savings",
            "type": "AtmosInstitution",
            "account_name": "AtmosACTION",
            "email": "",
            "password": "",
            "totp_secret": ""
        }
    ]
}
